@{
    Layout = null;
}

@model List<Book>
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Showing deleted books</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <h1>Showing deleted books</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Genre</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.Id</td>
                <td>@k.BookName</td>
                <td>@k.Price</td>
                <td>@k.Genre.GenreName</td>
                <td><a href='/Book/Modify?id=@k.Id' Modify>Modify</a></td>
                <td><a href='/Book/Restore?id=@k.Id' Restore>Restore</a></td>
            </tr>
        }


    </table>
    <a href='/Book/Index'>Return to homepage</a>
</body>
</html>