@{
    Layout = null;
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Error Book</title>
</head>
<body>
    <h1>Genre already exists,return at genre add page and type new name</h1>
    <a href='/Genre/Index'>Genre add page</a>
</body>
</html>